In [153]:
import pandas as pd
import numpy as np
import holidays #install holidays

In [52]:
#df = pd.read_csv("/Users/JacKuo14/Documents/Metis/mta_data.csv")
df_orig = pd.read_csv("/Users/JacKuo14/Documents/Metis/nyc19_ds21_foottraffic_team2/data/mta_data_small.csv.zip")
df = df_orig.iloc[:, 1:] #remove first column

In [30]:
#df['ENTRIES'] = df.ENTRIES-df.ENTRIES.shift(1)
#df['EXITS'] = df.EXITS-df.EXITS.shift(1)

In [101]:
#clean up the columns
df.columns = [col.strip() for col in df.columns]
#df.columns

#Add DATETIME column
df['DATE_TIME'] = df['DATE'] + " " + df['TIME']
df['DATE_TIME'] = pd.to_datetime(df['DATE_TIME'])

In [109]:
#Add Day of Week
df['DAY_OF_WEEK'] = df['DATE_TIME'].dt.dayofweek.map({0: "Monday", 1: "Tuesday", 2: "Wednesday", 3: "Thursday", 4: "Friday", 5: "Saturday", 6:"Sunday"})

In [164]:
#Add Month
df['MONTH'] = pd.DatetimeIndex(df['DATE_TIME']).month.map({1:'January', 
                                                            2: 'February',
                                                            3: 'March',
                                                            4: 'April',
                                                            5: 'May',
                                                            6: 'June',
                                                            7: 'July', 
                                                            8: 'August', 
                                                            9: 'Septemner', 
                                                            10: 'October', 
                                                            11: 'November', 
                                                            12: 'December'})

#Add Year
df['YEAR'] = pd.DatetimeIndex(df['DATE_TIME']).year

#Add Holiday
us_holidays = holidays.UnitedStates(years = [2018, 2019])
df['HOLIDAY'] = pd.to_datetime(df['DATE']).isin(us_holidays)

In [148]:
type(df['MONTH'][1])

numpy.int64

In [150]:
df['MONTH'] = df['MONTH'].map({1:'January', 
                2: 'February',
                3: 'March',
                4: 'April',
                5: 'May',
                6: 'June',
                7: 'July', 
                8: 'August', 
                9: 'Septemner', 
                10: 'October', 
                11: 'November', 
                12: 'December'})

In [162]:
us_holidays = holidays.UnitedStates(years = [2018, 2019])
#for ptr in holidays.UnitedStates(years = [2018, 2019]).items(): 
#print(ptr)

In [163]:
us_holidays

{datetime.date(2018, 1, 1): "New Year's Day",
 datetime.date(2018, 1, 15): 'Martin Luther King, Jr. Day',
 datetime.date(2018, 2, 19): "Washington's Birthday",
 datetime.date(2018, 5, 28): 'Memorial Day',
 datetime.date(2018, 7, 4): 'Independence Day',
 datetime.date(2018, 9, 3): 'Labor Day',
 datetime.date(2018, 10, 8): 'Columbus Day',
 datetime.date(2018, 11, 11): 'Veterans Day',
 datetime.date(2018, 11, 12): 'Veterans Day (Observed)',
 datetime.date(2018, 11, 22): 'Thanksgiving',
 datetime.date(2018, 12, 25): 'Christmas Day',
 datetime.date(2019, 1, 1): "New Year's Day",
 datetime.date(2019, 1, 21): 'Martin Luther King, Jr. Day',
 datetime.date(2019, 2, 18): "Washington's Birthday",
 datetime.date(2019, 5, 27): 'Memorial Day',
 datetime.date(2019, 7, 4): 'Independence Day',
 datetime.date(2019, 9, 2): 'Labor Day',
 datetime.date(2019, 10, 14): 'Columbus Day',
 datetime.date(2019, 11, 11): 'Veterans Day',
 datetime.date(2019, 11, 28): 'Thanksgiving',
 datetime.date(2019, 12, 25): 'Christmas Day'}

In [141]:
df_time = df[df['TIME'].isin(list(df['TIME'].value_counts().reset_index()['index'][:24]))]

In [143]:
len(df_time['STATION'].unique())

362

In [144]:
len(df['STATION'].unique())

376

In [146]:
np.setdiff1d(list(df['STATION'].unique()), list(df_time['STATION'].unique()))

array(['15 ST-PROSPECT', '161/YANKEE STAD', 'CITY / BUS',
       'JOURNAL SQUARE', 'KEW GARDENS', 'LACKAWANNA', 'NEWARK BM BW',
       'NEWARK C', 'NEWARK HW BMEBE', 'PATH NEW WTC', 'PATH WTC 2',
       'PAVONIA/NEWPORT', 'THIRTY ST', 'TWENTY THIRD ST'], dtype='<U15')

In [90]:
df['new_col'].dtype

dtype('<M8[ns]')

In [96]:
df['new_col'][1] - df['new_col'][0]

Timedelta('0 days 04:00:00')

In [51]:
#df.head()
df[(df['STATION'] == '59 ST') & (df['DATE'] == '08/25/2018')]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,NaN,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,20.0,4.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,18.0,41.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,75.0,85.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,169.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...
155274,R245A,R051,01-06-01,59 ST,456NQRW,IRT,08/25/2018,04:00:00,REGULAR,5.0,26.0
155275,R245A,R051,01-06-01,59 ST,456NQRW,IRT,08/25/2018,08:00:00,REGULAR,0.0,10.0
155276,R245A,R051,01-06-01,59 ST,456NQRW,IRT,08/25/2018,12:00:00,REGULAR,3.0,123.0
155277,R245A,R051,01-06-01,59 ST,456NQRW,IRT,08/25/2018,16:00:00,REGULAR,9.0,289.0
155278,R245A,R051,01-06-01,59 ST,456NQRW,IRT,08/25/2018,20:00:00,REGULAR,6.0,304.0

Summary Statistics

In [57]:
df_full = pd.read_csv("/Users/JacKuo14/Desktop/mta_data.csv")

In [65]:
len(df_full)

10759562

In [58]:
df_full.describe()

,ENTRIES,EXITS
count,1.075956e+07,1.075956e+07
mean,4.066285e+07,3.349914e+07
std,2.090430e+08,1.937095e+08
min,0.000000e+00,0.000000e+00
25%,4.038090e+05,1.662300e+05
50%,2.300797e+06,1.318980e+06
75%,6.835117e+06,4.705282e+06
max,2.129771e+09,2.124342e+09

In [59]:
df_full.isna().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
dtype: int64

In [73]:
df_full.loc

2129770911

In [64]:
import matplotlib.pyplot as plt
# this statement allows the visuals to render within your Jupyter Notebook
%matplotlib inline 

plt.scatter(df_full['ENTRIES'])

TypeError: scatter() missing 1 required positional argument: 'y'

In [68]:
df2 = pd.read_csv("/Users/JacKuo14/Documents/Metis/nyc19_ds21_foottraffic_team2/data/mta_stations.csv")

In [69]:
df2.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479,Astoria - Ditmars Blvd,Manhattan
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508,Astoria - Ditmars Blvd,Manhattan
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575,Astoria - Ditmars Blvd,Manhattan

In [71]:
df2.isna().sum()

Station ID                0
Complex ID                0
GTFS Stop ID              0
Division                  0
Line                      0
Stop Name                 0
Borough                   0
Daytime Routes            0
Structure                 0
GTFS Latitude             0
GTFS Longitude            0
North Direction Label    18
South Direction Label    15
dtype: int64

In [70]:
df2['Borough'].unique()

array(['Q', 'M', 'Bk', 'Bx', 'SI'], dtype=object)

In [ ]:
# Number of stations in Manhattan

In [76]:
recent_entries = pd.Series()
for row, index in df.ENTRIES.items():
    recent_entries.append(row.index, turnstile_df.iloc[row].entries)

AttributeError: 'int' object has no attribute 'index'