<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Project-01-Challenge---MTA-EDA" data-toc-modified-id="Project-01-Challenge---MTA-EDA-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Project 01 Challenge - MTA EDA</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Challenge-01" data-toc-modified-id="Challenge-01-1.0.0.1"><span class="toc-item-num">1.0.0.1&nbsp;&nbsp;</span>Challenge 01</a></span></li><li><span><a href="#Challenge-2" data-toc-modified-id="Challenge-2-1.0.0.2"><span class="toc-item-num">1.0.0.2&nbsp;&nbsp;</span>Challenge 2</a></span></li><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1.0.0.3"><span class="toc-item-num">1.0.0.3&nbsp;&nbsp;</span>Challenge 3</a></span></li><li><span><a href="#Challenge-4" data-toc-modified-id="Challenge-4-1.0.0.4"><span class="toc-item-num">1.0.0.4&nbsp;&nbsp;</span>Challenge 4</a></span></li><li><span><a href="#Challenge-5" data-toc-modified-id="Challenge-5-1.0.0.5"><span class="toc-item-num">1.0.0.5&nbsp;&nbsp;</span>Challenge 5</a></span></li><li><span><a href="#Challenge-6" data-toc-modified-id="Challenge-6-1.0.0.6"><span class="toc-item-num">1.0.0.6&nbsp;&nbsp;</span>Challenge 6</a></span></li><li><span><a href="#Challenge-7" data-toc-modified-id="Challenge-7-1.0.0.7"><span class="toc-item-num">1.0.0.7&nbsp;&nbsp;</span>Challenge 7</a></span></li><li><span><a href="#Challenge-8" data-toc-modified-id="Challenge-8-1.0.0.8"><span class="toc-item-num">1.0.0.8&nbsp;&nbsp;</span>Challenge 8</a></span></li><li><span><a href="#Challenge-9" data-toc-modified-id="Challenge-9-1.0.0.9"><span class="toc-item-num">1.0.0.9&nbsp;&nbsp;</span>Challenge 9</a></span></li><li><span><a href="#Challenge-10" data-toc-modified-id="Challenge-10-1.0.0.10"><span class="toc-item-num">1.0.0.10&nbsp;&nbsp;</span>Challenge 10</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Project 01 Challenge - MTA EDA

Working through EDA challenges from Project 01 within class repo.

-Thomas Kavanagh

In [34]:
import pandas as pd

import matplotlib
%matplotlib inline

import numpy as np

import copy

#### Challenge 01

Import CSV of turnstile data

In [19]:
mta_turnstile_path = '../data/mta_data_small.csv'
turnstile_df = pd.read_csv(mta_turnstile_path)

In [20]:
turnstile_df.sample(10)

,Unnamed: 0,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
1306056,1306056,PTH13,R541,00-00-05,THIRTY ST,1,PTH,10/09/2018,06:09:56,REGULAR,8019,10976
363208,363208,R325,R388,00-00-02,E 180 ST,25,IRT,09/05/2018,09:00:00,REGULAR,12733382,11039611
228222,228222,H009,R235,00-03-01,BEDFORD AV,L,BMT,09/02/2018,16:00:00,REGULAR,16497555,21960774
1063953,1063953,N300,R113,01-00-02,7 AV,BDE,IND,09/30/2018,13:00:00,REGULAR,5962593,9280822
911505,911505,PTH21,R540,01-00-01,PATH WTC 2,1,PTH,09/28/2018,03:39:09,REGULAR,340309,240708
1366707,1366707,R508,R346,00-05-00,COURT SQ,7,IRT,10/09/2018,08:00:00,REGULAR,117441807,0
188997,188997,R612,R057,01-00-04,ATL AV-BARCLAY,BDNQR2345,IRT,08/31/2018,20:00:00,REGULAR,561573,304562
351217,351217,R245,R051,00-03-01,59 ST,456NQRW,IRT,09/05/2018,20:00:00,REGULAR,6005943,14759510
993528,993528,A022,R022,01-06-00,34 ST-HERALD SQ,BDFMNQRW,BMT,10/02/2018,04:00:00,REGULAR,67525072,17999633
1584661,1584661,R647,R110,02-05-00,FLATBUSH AV-B.C,25,IRT,10/16/2018,01:00:00,REGULAR,1019171,1069270

Format the columns nicely.

In [23]:
turnstile_df.columns

Index(['Unnamed: 0', 'C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION',
       'DATE', 'TIME', 'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [24]:
# The first column is a duplicate of the index.
# Let's drop it.
turnstile_df.drop('Unnamed: 0', axis=1, inplace=True)
turnstile_df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [26]:
turnstile_df.rename(columns={'C/A':'c_a'}, inplace=True)
turnstile_df.columns

Index(['c_a', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [29]:
for col in list(turnstile_df.columns):
    turnstile_df.rename(columns={col : col.lower().strip()}, inplace=True)
    
turnstile_df.columns

Index(['c_a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits'],
      dtype='object')

In [30]:
turnstile_df.head()

,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

#### Challenge 2

- Let's turn this into a time series.

Create a new column that stores the date and time as a single pandas datetime object.

**Optional with dictionaries**

 > For each key (basically the control area, unit, device address and
 station of a specific turnstile), have a list again, but let the list
 be comprised of just the point in time and the count of entries.

> This basically means keeping only the date, time, and entries fields
in each list. You can convert the date and time into datetime objects
-- That is a python class that represents a point in time. You can
combine the date and time fields into a string and use the
[dateutil](https://labix.org/python-dateutil) module to convert it
into a datetime object. For an example check
[this StackOverflow question](http://stackoverflow.com/questions/23385003/attributeerror-when-using-import-dateutil-and-dateutil-parser-parse-but-no).

> Your new dict should look something like

> {    ('A002','R051','02-00-00','LEXINGTON AVE'):
[
[datetime.datetime(2013, 3, 2, 3, 0), 3788],
[datetime.datetime(2013, 3, 2, 7, 0), 2585],
[datetime.datetime(2013, 3, 2, 12, 0), 10653],
[datetime.datetime(2013, 3, 2, 17, 0), 11016],
[datetime.datetime(2013, 3, 2, 23, 0), 10666],
[datetime.datetime(2013, 3, 3, 3, 0), 10814],
[datetime.datetime(2013, 3, 3, 7, 0), 10229],
...
],
....
}

In [ ]:
turnstile_df['datetime'] = pd.to_datetime(turnstile_df.date + ' '+ turnstile_df.time, infer_datetime_format=True)

In [123]:
turnstile_df.dtypes

c_a                 object
unit                object
scp                 object
station             object
linename            object
division            object
date                object
time                object
desc                object
entries              int64
exits                int64
datetime    datetime64[ns]
dtype: object

#### Challenge 3

- These counts are for every n hours (What is n?). Also, there's something odd about these "counts", what is it? 
Do they actually represent total entries for a time period, or something else? We want total daily entries, create a new dataframe with one row per turnstile/day and a column that gives total daily entries.

**Optional with dictionaries**

> Now make it that we again have the same keys, but now we have a single
value for a single day, which is the total number of passengers that
entered through this turnstile on this day.

In [133]:
sorted_df = turnstile_df.sort_values(by=['unit','scp','datetime']).reset_index()
sorted_df['prev_entries'] = pd.to_numeric(sorted_df.entries 
                                          - sorted_df.entries.shift(1),
                                          downcast='signed', errors='coerce')

# def clean_up_tickers(x):
#     if x < 0:
#         x = 0
#     elif x > 100000:
#         x = 100000
#     return x
# sorted_df - sorted_df.apply(clean_up_ticker)

In [132]:
sorted_df.dtypes

index                    int64
c_a                     object
unit                    object
scp                     object
station                 object
linename                object
division                object
date                    object
time                    object
desc                    object
entries                  int64
exits                    int64
datetime        datetime64[ns]
prev_entries           float64
dtype: object

The prev_entries columns don't make sense at the first row and the junctions between distinct turnstiles. These values that are non-positive should be 0.

In [112]:
sorted_df.head()

,index,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime,prev_entries
0,10695,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,08/25/2018,01:00:00,REGULAR,3560252,2381773,2018-08-25 01:00:00,NaN
1,10696,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,08/25/2018,05:00:00,REGULAR,3560299,2381798,2018-08-25 05:00:00,47.0
2,10697,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,08/25/2018,09:00:00,REGULAR,3560526,2381855,2018-08-25 09:00:00,227.0
3,10698,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,08/25/2018,13:00:00,REGULAR,3560904,2382167,2018-08-25 13:00:00,378.0
4,10699,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,08/25/2018,17:00:00,REGULAR,3561591,2382306,2018-08-25 17:00:00,687.0

In [110]:
sorted_df[385:390]

,index,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime,prev_entries
385,1598035,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,10/26/2018,13:00:00,REGULAR,3758264,2444384,2018-10-26 13:00:00,657.0
386,1598036,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,10/26/2018,17:00:00,REGULAR,3759317,2444586,2018-10-26 17:00:00,1053.0
387,1598037,A060,R001,00-00-00,WHITEHALL S-FRY,R1W,BMT,10/26/2018,21:00:00,REGULAR,3760439,2444814,2018-10-26 21:00:00,1122.0
388,10739,A060,R001,00-00-01,WHITEHALL S-FRY,R1W,BMT,08/25/2018,01:00:00,REGULAR,2928213,1944667,2018-08-25 01:00:00,-832226.0
389,10740,A060,R001,00-00-01,WHITEHALL S-FRY,R1W,BMT,08/25/2018,05:00:00,REGULAR,2928239,1944705,2018-08-25 05:00:00,26.0

In [117]:
sorted_df.prev_entries.mask(sorted_df.prev_entries < 0, 0, inplace=True)
sorted_df.prev_entries.mask(sorted_df.prev_entries.isnull(), 0, inplace=True)
print(sorted_df.iloc[388])
print(sorted_df.iloc[0])

index                         10739
c_a                            A060
unit                           R001
scp                        00-00-01
station             WHITEHALL S-FRY
linename                        R1W
division                        BMT
date                     08/25/2018
time                       01:00:00
desc                        REGULAR
entries                     2928213
exits                       1944667
datetime        2018-08-25 01:00:00
prev_entries                      0
Name: 388, dtype: object
index                         10695
c_a                            A060
unit                           R001
scp                        00-00-00
station             WHITEHALL S-FRY
linename                        R1W
division                        BMT
date                     08/25/2018
time                       01:00:00
desc                        REGULAR
entries                     3560252
exits                       2381773
datetime        2018-08-25 01:00:00
prev_entries                      0
Name: 0, dtype: object

In [122]:
sorted_df[sorted_df.prev_entries > 10000].prev_entries

1163       1.990070e+06
1937       1.503222e+06
2711       2.970749e+06
3475       1.295850e+05
3852       2.550198e+06
4229       1.307442e+08
5737       2.959012e+06
6502       1.077944e+07
7268       1.762581e+06
8034       1.295600e+05
8417       1.182579e+06
9947       1.153710e+05
10710      1.746830e+05
13765      4.152970e+05
14143      1.387244e+06
14521      2.727839e+06
15280      4.054476e+06
16033      2.513510e+05
16414      4.758496e+06
16795      1.810251e+06
17932      6.974309e+06
19069      1.832191e+06
19448      3.559587e+06
19827      2.580089e+07
20583      1.100511e+06
21335      4.761801e+06
21713      1.115245e+09
22091      9.047313e+08
23599      5.028320e+05
23975      2.937110e+06
               ...
1772962    2.180700e+04
1773681    1.930900e+04
1774757    2.887900e+04
1775116    1.006455e+06
1777021    2.164730e+05
1777402    4.235640e+05
1777783    7.694900e+05
1778163    1.147987e+08
1778925    1.782670e+05
1779303    9.002700e+04
1779681    8.960600e+04
1780059    4.441200e+04
1780437    2.932060e+05
1781571    2.009946e+06
1783107    3.555490e+07
1783582    4.587510e+05
1784233    3.226000e+04
1784611    6.127900e+04
1784989    2.991100e+04
1785367    1.533180e+05
1785745    1.644820e+05
1786123    2.391650e+05
1786501    3.163790e+05
1786879    4.472250e+05
1787633    1.899950e+05
1789492    8.513350e+05
1791749    1.231700e+04
1792126    7.333800e+04
1792504    1.656340e+05
1792883    2.585680e+05
Name: prev_entries, Length: 2368, dtype: float64

Doing the same for exits:

In [119]:
sorted_df['prev_exits'] = sorted_df.exits - sorted_df.exits.shift(1)
sorted_df.prev_exits.mask(sorted_df.prev_exits < 0, 0, inplace=True)
sorted_df.prev_exits.mask(sorted_df.prev_exits.isnull(), 0, inplace=True)
sorted_df.prev_exits.describe()

count    1.793260e+06
mean     7.394146e+04
std      9.201375e+06
min      0.000000e+00
25%      8.000000e+00
50%      5.100000e+01
75%      1.640000e+02
max      2.062243e+09
Name: prev_exits, dtype: float64

#### Challenge 4

We will plot the daily time series for a turnstile.

In ipython notebook, add this to the beginning of your next cell:

    %matplotlib inline

This will make your matplotlib graphs integrate nicely with the
notebook. To plot the time series, import matplotlib with

    import matplotlib.pyplot as plt

Extract a list of dates and a list of counts from the dataframe, 
dates and counts. This should plot it:

    plt.figure(figsize=(10,3))
    plt.plot(dates,counts)

#### Challenge 5

- So far we've been operating on a single turnstile level, let's
  combine turnstiles in the same ControlArea/Unit/Station combo. There
  are some ControlArea/Unit/Station groups that have a single
  turnstile, but most have multiple turnstiles-- same value for the
  C/A, UNIT and STATION columns, different values for the SCP column.

We want to combine the numbers together -- for each
ControlArea/UNIT/STATION combo, for each day, add the counts from each
turnstile belonging to that combo.

#### Challenge 6

Similarly, combine everything in each station, and come up with a time
series of `[(date1, count1),(date2,count2),...]` type of time series
for each STATION, by adding up all the turnstiles in a station.

#### Challenge 7

Plot the time series for a station.

#### Challenge 8

- Make one list of counts for **one** week for one station. Monday's
count, Tuesday's count, etc. so it's a list of 7 counts.
Make the same list for another week, and another week, and another
week.
`plt.plot(week_count_list)` for every `week_count_list` you created
this way. You should get a rainbow plot of weekly commute numbers on
top of each other.

#### Challenge 9

- Over multiple weeks, sum total ridership for each station and sort
  them, so you can find out the stations with the highest traffic
  during the time you investigate

#### Challenge 10

- Make a single list of these total ridership values and plot it with

    plt.hist(total_ridership_counts)

to get an idea about the distribution of total ridership among
different stations.

This should show you that most stations have a small traffic, and the
histogram bins for large traffic volumes have small bars.

*Additional Hint*:

If you want to see which stations take the meat of the traffic, you
can sort the total ridership counts and make a `plt.bar` graph. For
this, you want to have two lists: the indices of each bar, and the
values. The indices can just be `0,1,2,3,...`, so you can do

    indices = range(len(total_ridership_values))
    plt.bar(indices, total_ridership_values)